@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */
/* body {
  border: 2px solid red;
} */
.hero {
  background-image: url('/assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 800px;
}
@media (min-width: 650px) {
  .desktop-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    height: 85px;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 80px;
    margin-bottom: 55px;
  }
  .mobile-nav {
    display: none;
  }
  .logo {
    font-size: 20px;
    color: white;
    font-weight: 500;
  }

  .nav-link {
    display: flex;
    gap: 4rem;
    list-style: none;
  }
  .nav-item {
    display: inline-block;
  }

  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
  }
  .hero-content {
    text-align: center;
    color: white;
  }
  .hero-content h2:nth-of-type(2) {
    margin-top: 5px;
  }
  .hero-content h2 {
    font-size: 60px;
    font-weight: 600;
  }
  .hero-content p:nth-of-type(1) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .hero-content p {
    font-size: 18px;
    font-weight: 200;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff99;
    padding: 5px 8px;
    border-radius: 30px;
    width: 300px;
    background-color: #ffffff26;
  }

  .input input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    background-color: transparent;
  }
  input::placeholder {
    color: white;
    font-size: 15px;
    font-weight: 200;
  }

  .search-icon {
    cursor: pointer;
    background-color: #e58411;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
  }
  .info h1 {
    margin-bottom: 0.4rem;
    font-size: 30px;
    font-weight: 700;
  }
  .info h2 {
    font-size: 28px;
    font-weight: 700;
  }
  .info-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .info-details h3 {
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 700;
  }
  .info-details p:not(:last-of-type) {
    margin-bottom: 0.8rem;
  }
  .info-details p {
    font-size: 16px;
    font-weight: 400;
  }
  .info-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1.5rem;
  }
  .info-links > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-link {
    text-decoration: none;
    font-size: 15px;
    color: #e58411;
  }
  .product-display {
    margin: 0 auto;
    padding: 50px 80px;
    background-color: #f7f7f7;
  }

  .product-display h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 28px;
  }

  .display-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
    padding: 5px 15px;
    border-radius: 30px;
    width: 32%;
    margin: 0 auto 45px;
  }
  .display-content div {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .display-content div:hover {
    background: #ffffff;
  }
  .display-content span {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 400;
  }
  .furniture-data {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  .furniture-item {
    border: 2px solid #eeeeee;
    border-radius: 15px;
    overflow: hidden;

    width: 220px;
    transition: transform 0.3s;
  }

  .furniture-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .furniture-item img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .furniture-details {
    background-color: #ffffff;
    padding: 12px;
  }

  .furniture-details h2 {
    font-size: 1rem;
    margin: 5px 0;
    color: #0d1b39;
    font-weight: 600;
  }

  .furniture-details p {
    margin: 1px 0;
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 400;
  }

  .furniture-price button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d1b39;
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    line-height: 0;
  }
  .furniture-details button:hover {
    background: #444;
  }
  .furniture-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .furniture-price p {
    font-size: 14px;
    color: #0d1b39;
    font-weight: 600;
  }
  .view-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
  }
  .view-links > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-link {
    text-decoration: none;
    font-size: 15px;
    color: #e58411;
  }
  .experience-section {
    display: flex;
    padding: 130px 80px 50px 0px;
    align-items: center;
    gap: 8rem;
  }
  .experience-content h1 {
    color: #e58411;
    margin-bottom: 1.2rem;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .experience-content h2 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .experience-content h3 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }

  .experience-content p:nth-last-of-type(1) {
    margin-bottom: 1.7rem;
  }
  .experience-content p {
    line-height: 2.5rem;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
  }
  .experience-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
  }
  .experience-link a {
    color: #e58411;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  .material-section {
    display: flex;
    padding: 100px 0px 50px 70px;
    align-items: center;
    gap: 2rem;
  }
  .material-images {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .material-image-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .material-content h1 {
    color: #e58411;
    margin-bottom: 1.2rem;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .material-content h2 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .material-content h3 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .material-content h4 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  .material-content p:nth-last-of-type(1) {
    margin-bottom: 1rem;
  }
  .material-content p {
    line-height: 2rem;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
  }
  .material-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
  }
  .material-link a {
    color: #e58411;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  .material-image-left img {
    width: 97%;
  }
  .testimonial-section {
    text-align: center;
    padding: 50px 80px;
  }
  .testimonial-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .testimonial-section h1 {
    text-transform: uppercase;
    color: #e58411;
    margin-bottom: 0.8rem;
    font-size: 20px;
    font-weight: 500;
  }
  .testimonial-section h2 {
    color: #1e1e1e;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .testimonial-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .testimonial-image img {
    display: block;
  }
  .testimonial-content {
    position: absolute;
    background-color: #ffffff;
    bottom: 10px;
    width: 90%;
    padding: 15px 15px;
    border-radius: 20px;
    height: 220px;
  }
  .testimonial-content::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 25px;
    background: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .testimonial-avatar {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
  }
  .avatar-content {
    margin-top: 1rem;
  }
  .avatar-content h3 {
    margin-bottom: 0.2rem;
    font-size: 23px;
    color: #1e1e1e;
    font-weight: 700;
  }
  .avatar-content p:nth-last-of-type(1) {
    margin-bottom: 2.2rem;
  }
  .avatar-content p {
    font-size: 13px;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 400;
  }
  .avatar-content span {
    margin-bottom: 0.7rem;
    display: inline-block;
    font-size: 13px;
    color: #1e1e1e;
    font-weight: 300;
  }
}

@media (min-width: 100px) and (max-width: 650px) {
  .hero {
    height: 300px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 18px;
    margin-bottom: 8px;
  }
  .logo {
    font-size: 13px;
    color: white;
    font-weight: 500;
  }
  .nav-item {
    display: inline-block;
  }
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: 400;
  }

  .nav-link {
    top: 0;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    width: 200px;
    height: 100vh;
    background-color: black;
    padding: 30px 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
  }

  .nav-link.open {
    transform: translateX(0);
  }
  .nav-link li:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .hero-content {
    padding-top: 5rem;
    text-align: center;
    color: white;
  }

  .hero-content h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .hero-content p:nth-of-type(1) {
    margin-top: 2px;
  }
  .hero-content p {
    font-size: 12px;
    font-weight: 200;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ffffff99;
    padding: 4px 8px;
    border-radius: 30px;
    width: 240px;
    background-color: #ffffff22;
  }

  .input input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;
  }
  input::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 200;
  }

  .search-icon {
    cursor: pointer;
    background-color: #e58411;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 15px 18px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
  }
  .info h1 {
    margin-bottom: 0.4rem;
    font-size: 28px;
    font-weight: 700;
  }
  .info h2 {
    font-size: 28px;
    font-weight: 700;
  }
  .info-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .info-details h3 {
    margin-bottom: 5px;
    font-size: 19px;
    font-weight: 700;
  }
  .info-details p:not(:last-of-type) {
    margin-bottom: 0.2rem;
  }
  .info-details p {
    font-size: 16px;
    font-weight: 400;
  }
  .info-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
  }
  .info-links > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .info-link {
    text-decoration: none;
    font-size: 16px;
    color: #e58411;
  }
  .product-display {
    margin: 0 auto;
    padding: 16px 18px;
    background-color: #f7f7f7;
  }

  .product-display h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .display-content {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #eeeeee;

    border: 2px solid #eeeeee;
    padding: 5px 17px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto 20px;
  }
  .display-content div {
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .display-content div:hover {
    background: #ffffff;
  }
  .display-content span {
    color: #1e1e1e;
    font-size: 16px;
  }
  .furniture-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
  }

  .furniture-item {
    border: 2px solid #eeeeee;
    border-radius: 15px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
  }

  .furniture-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .furniture-item img {
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .furniture-details {
    background-color: #ffffff;
    padding: 12px;
  }

  .furniture-details h2 {
    font-size: 1.2rem;
    margin: 5px 0;
    color: #0d1b39;
    font-weight: 600;
  }

  .furniture-details p {
    margin: 1px 0;
    color: #8d8d8d;
    font-size: 18px;
    font-weight: 400;
  }

  .furniture-price button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d1b39;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
  }
  .furniture-details button:hover {
    background: #444;
  }
  .furniture-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .furniture-price p {
    font-size: 18px;
    color: #0d1b39;
    font-weight: 600;
  }
  .view-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .view-links > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .view-link {
    text-decoration: none;
    font-size: 16px;
    color: #e58411;
  }
  .experience-section {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 20px;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .experience-image img {
    width: 100%;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.4);
  }
  .experience-content h1 {
    color: #e58411;
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .experience-content h2 {
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .experience-content h3 {
    color: #1e1e1e;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 1.4rem;
  }

  .experience-content p:nth-last-of-type(1) {
    margin-bottom: 1rem;
  }
  .experience-content p {
    line-height: 2.2rem;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
  }
  .experience-link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    line-height: 0;
  }
  .experience-link a {
    color: #e58411;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  .material-section {
    display: flex;
    flex-direction: column;
    padding: 15px 18px;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .material-content h1 {
    color: #e58411;
    margin-bottom: 1.2rem;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .material-content h2 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .material-content h3 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }
  .material-content h4 {
    color: #1e1e1e;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.3rem;
  }

  .marterial-content p:nth-last-of-type(1) {
    margin-bottom: 1.7rem;
  }
  .material-content p {
    line-height: 2rem;
    color: #1e1e1e;
    font-weight: 400;
    font-size: 16px;
  }
  .material-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    line-height: 0;
  }
  .material-link a {
    color: #e58411;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }
  .material-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .material-image-left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .material-image-left img {
    width: 100%;
  }
  .material-image-right img {
    width: 100%;
  }
  .testimonial-section {
    text-align: center;
    padding: 15px 18px;
  }
  .testimonial-images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
  }
  .avatar-image {
    width: 100%;
    /* height: 450px; */
  }
  .testimonial-section h1 {
    text-transform: uppercase;
    color: #e58411;
    margin-bottom: 0.8rem;
    font-size: 20px;
    font-weight: 500;
  }
  .testimonial-section h2 {
    color: #1e1e1e;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .testimonial-image {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .testimonial-image img {
    display: block;
  }
  .testimonial-content {
    position: absolute;
    background-color: #ffffff;
    bottom: 16px;
    width: 90%;
    padding: 15px 15px;
    border-radius: 20px;
  }
  .testimonial-content::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 25px;
    background: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .testimonial-avatar {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
  }
  .avatar-content {
    margin-top: 1rem;
  }
  .avatar-content h3 {
    margin-bottom: 0.2rem;
    font-size: 23px;
    color: #1e1e1e;
    font-weight: 700;
  }
  .avatar-content p:nth-last-of-type(1) {
    margin-bottom: 1.7rem;
  }
  .avatar-content p {
    font-size: 13px;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 400;
  }
  .avatar-content span {
    margin-bottom: 0.7rem;
    display: inline-block;
    font-size: 13px;
    color: #1e1e1e;
    font-weight: 300;
  }
}
