*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 500px;
}
@media (min-width: 100px) and (max-width: 650px) {
  .hero {
    height: 300px;
  }
}
